/* 这里将是黄色主题的内容 */
.green {
	background: #59c3d9 !important;
}
.green-box{
	border-top: 3px solid #59c3d9;
}
.green-y{
	background: #2ea3b7;
}
.green-none:focus,
.green-none:HOVER,
.green-none:visited{
	background: #2ea3b7!important;;
	color: white;
}
.green-left:hover,
.green-left:focus,
.green-left:visited{
	border-left: 3px solid #59c3d9!important;
}


/* 这里将是蓝色主题的内容 */
.blue {
	background: #59c3d9 !important;
}
.blue-box{
	border-top: 3px solid #59c3d9;
}
.blue-b{
	background: #2ea3b7;
}
.blue-none:focus,
.blue-none:HOVER,
.blue-none:visited
{
	background: #2ea3b7!important;
	color: white;
}
.blue-left:hover,
.blue-left:focus,
.blue-left:visited{
	border-left: 3px solid #59c3d9!important;
}

/* 这里将是红色主题的内容 */
.red {
	background: #e38946 !important;
}
.red-box{
	border-top: 3px solid #e38946;
}
.red-r{
	background: #d37624 !important;
}
.red-none:focus,
.red-none:HOVER,
.red-none:visited{
	background: #d37624 !important;
	color: white;
}
.red-left:hover,
.red-left:focus,
.red-left:visited{
	border-left: 3px solid #e38946 !important;
}

/* 这里将是绿色主题的内容 */
.yellow{
	background: #bcabf8 !important;
}
.yellow-box{
	border-top: 3px solid #bcabf8;
}
.yellow-g{
	background: #8e76e0;
}
.yellow-none:focus,
.yellow-none:HOVER,
.yellow-none:visited{
	background: #8e76e0!important;;
	color: white;
}
.yellow-left:hover,
.yellow-left:focus,
.yellow-left:visited{
	border-left: 3px solid #bcabf8!important;
}
